<table border="0" cellpadding="0" cellspacing="0" style="width:100%">
    <tr>
        <th>上级分类 :</th>
        <td>
            <select name="pid">
                <option value="0">顶级分类</option>
                <volist name="category_list" id="cl">
                <option value="{$cl.id}">{$cl.name}</option>
                    <!--<if condition="cl['children']">-->
                        <!--<volist name="cl['children']" id="clc">-->
                            <!--<option value="{$clc.id}">{$clc.name}</option>-->
                        <!--</volist>-->
                        <!--</if>-->
                    </volist>
            </select>
        </td>
    </tr>
    <tr>
        <th>分类名称 :</th>
        <td><input name="name" type="text" class="easyui-textbox" style="height:30px;" value=""
                   data-options="required:false"></td>
    </tr>
    <tr>
        <th>显示排序 :</th>
        <td><input name="list_order" type="text" class="easyui-textbox" style="height:30px;" value="0"
                   data-options="required:false"></td>
    </tr>
</table>