<style type="text/css">
    .demo{margin:4px auto}
    .btn{position: relative;overflow: hidden;margin-right: 4px;display:inline-block;*display:inline;padding:4px 10px 4px;font-size:14px;line-height:18px;*line-height:20px;color:#fff;text-align:center;vertical-align:middle;cursor:pointer;background-color:#5bb75b;border:1px solid #cccccc;border-color:#e6e6e6 #e6e6e6 #bfbfbf;border-bottom-color:#b3b3b3;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;}
    .btn input {position: absolute;top: 0; right: 0;margin: 0;border: solid transparent;opacity: 0;filter:alpha(opacity=0); cursor: pointer;}
    .progress { position:relative; margin-left:100px; margin-top:-24px; width:100px;padding: 1px; border-radius:3px; display:none}
    .bar {background-color: green; display:block; width:0%; height:20px; border-radius: 3px; }
    .percent { position:absolute; height:20px; display:inline-block; top:3px; left:2%; color:#fff }
    .files{height:22px; line-height:22px; margin:10px 0}
    .delimg{margin-left:20px; color:#090; cursor:pointer}
</style>
<table border="0" cellpadding="0" cellspacing="0" style="width:100%">
    <tr>
        <th>商品名称 :</th>
        <td><input name="name" type="text" class="easyui-textbox" style="height:30px;" value="{$info.name}"
                   data-options="required:false"></td>
    </tr>
    <tr>
        <th>所属分类 :</th>
        <td>
            <select name="cid">
                <volist name="category_list" id="cl">
                    <optgroup label="{$cl.name}">
                    <volist name="cl['children']" id="clc">
                        <option value="{$clc.id}">---{$clc.name}---</option>
                    </volist>
                        </optgroup>
                </volist>
            </select>
        </td>
    </tr>
    <tr>
        <th>商品图片 :</th>
        <td>
            <div class="demo">
                <input type="hidden" name="pic" id="pic" value="{$info.pic}">
                <p>说明：只允许上传gif/jpg格式的图片，图片大小不能超过500k,图片尺寸300px * 170px</p>

                <div class="btn">
                    <span>选择图片上传</span>
                    <input id="fileupload" type="file" name="mypic">
                </div>
                <div class="progress">
                    <span class="bar"></span><span class="percent">0%</span>
                </div>
                <div class="files"></div>
                <div id="showimg">
                    <img src="{$info.url}" width="100px" />
                </div>
            </div>
        </td>
    </tr>
    <tr>
        <th>商品价格 :</th>
        <td><input name="price" type="text" class="easyui-textbox" placeholder="例如:2.5" style="height:30px;" value="{$info.price}"
                   data-options="required:false"> 元 <small>例如:2.5</small></td>
    </tr>
    <tr>
        <th>商品单位 :</th>
        <td><input name="init" type="text" class="easyui-textbox" style="height:30px;" value="{$info.init}"
                   data-options="required:false"></td>
    </tr>
    <tr>
        <th>商品介绍 :</th>
        <td>
            <textarea name="intro" data-options="required:false" cols="60" rows="6">{$info.intro}</textarea>

        </td>
    </tr>
    <tr>
        <th>是否上架 :</th>
        <td>
            <input type="radio" name="status" <if condition="$info['status'] eq 1">checked</if> value="1" style="width: auto"> 上架
            <input type="radio" name="status" <if condition="$info['status'] eq 0">checked</if> value="0" style="width: auto"> 下架
        </td>
    </tr>
    <tr>
        <th>显示排序 :</th>
        <td><input name="list_order" type="text" class="easyui-textbox" style="height:30px;" value="{$info.list_order}"
                   data-options="required:false"></td>
    </tr>
</table>

<script>
    var bar = $('.bar');
    var percent = $('.percent');
    var showimg = $('#showimg');
    var progress = $(".progress");
    var files = $(".files");
    var btn = $(".btn span");
    $("#fileupload").wrap("<form id='myupload' action='{:U('Goods/upload')}' method='post' enctype='multipart/form-data'></form>");
    $("#fileupload").change(function(){
        $("#myupload").ajaxSubmit({
            dataType:  'json',
            beforeSend: function() {
                showimg.empty();
                progress.show();
                var percentVal = '0%';
                bar.width(percentVal);
                percent.html(percentVal);
                btn.html("上传中...");
            },
            uploadProgress: function(event, position, total, percentComplete) {
                var percentVal = percentComplete + '%';
                bar.width(percentVal);
                percent.html(percentVal);
            },
            success: function(data) {
                files.html("<b>"+data.name+"("+data.size+"k)</b>");
                $("#pic").val(data.savepath+data.savename);
                var img = data.url;
                showimg.html("<img src='"+img+"' width='120px' height='auto'>");
                btn.html("上传图片");
            },
            error:function(xhr){
                btn.html("上传失败");
                bar.width('0')
                files.html(xhr.responseText);
            }
        });
    });
</script>